@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
	background-color: #3B4E48;
	text-align: center;
	color: white;
	font-family: "Source Sans Pro", Arial, sans-serif;
	line-height: 1.4;
}

.section_title {
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}

.work {
	font-weight: bold;
}

a {
	color: #35B28A;
	border-bottom: 1px dotted;
	text-decoration: none;
	transition: border-color 0.3s ease-in-out;
}

a:hover {
	border-bottom-color: transparent;
}

a:active {
	text-shadow: 1px 2px 4px white;
}

/* Navbar CSS */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	
	/* Fixing it to the top of screen */
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
}

ul.copyright li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
